.page-not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
}
.page-not-found-text {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 50px;
}
